<!DOCTYPE html>
<html lang="en">

<head>

  {%- include head.html -%}

</head>

<body>

  <!-- page wrapper start -->

  <div class="page-wrapper">

    <!--header start-->

    {%- include header.html -%}

    <!--header end-->


    <!--body content start-->

    {{ content }}

    <!--body content end-->


    <!--footer start-->

    {%- include footer.html -%}

    <!--footer end-->

  </div>

  <!-- page wrapper end -->


  <!--back-to-top start-->

  <div class="scroll-top"><a class="smoothscroll" href="#top">Scroll Top</a></div>

  <!--back-to-top end-->

  <!-- inject js start -->

  <script src="/assets/js/theme-plugin.js"></script>
  <script src="/assets/js/theme-script.js"></script>

  <!-- inject js end -->

</body>

</html>