<!DOCTYPE html>
<html lang="pl">

<head>

    {%- include head.html -%}
    <link rel="stylesheet" href="/assets/css/og-image.css">
</head>

<body>
    <div class="content">
        <div class="content-inside">
            <div class="container">
                <img src="/assets/images/logo.png" class="logo" alt="logo" />
                <div class="row">
                    <div class="col-10">
                      <h1 class="text-dark bold">{{ page.title | escape }}</h1>
                    </div>
                </div>

                <authors class="authors">
                    {% for author in page.author %}
                    <div>
                        {% assign person = site.data.authors[author] %}
                        <img class="img-fluid rounded-circle" alt="{{ person.name }}" src="{{ person.image }}">
                        <h3>{{ person.name }}</h3>                    
                    </div>
                    {% endfor %}
                </authors>
            </div>
        </div>
        <footer class="footer">
           <i>Powered by <b>Microsoft Azure User Group Poland</b></i>
        </footer>
      </div>

    <!-- inject js start -->

    <script src="/assets/js/theme-plugin.js"></script>
    <script src="/assets/js/theme-script.js"></script>

    <!-- inject js end -->

</body>

</html>